.places__paragraph {
    max-width: 484px;
    margin: 0;
    padding-bottom: 1.625rem;
    font-size: 1.125rem;
    line-height: 163%;
    font-style: normal;
    font-weight: normal;
    grid-column: 2;
}

.places__paragraph:first-of-type {
    margin-top: 3rem;
}

.places__paragraph:last-of-type {
    padding-bottom: 0;
}