.places__link {
    max-width: 100%;
    margin: 0;
    padding: 0;
    text-decoration: underline;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    font-style: normal;
    font-weight: normal;
}