.footer__author {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    font-style: normal;
    font-weight: normal;
    color: #FFF;
}
  
@media screen and (max-width: 320px) {
    .footer__author {
        max-width: 200px;
        margin-top: 48px;
        line-height: 14px;
    }
}